.before-footer {
    padding: 1.5em 0 2.5em;
    .instagram-feed-mobile{
            display: none;
        }
    @media screen and (max-width: 991px) {
        .instagram-feed{
            display: none;
        }
        .instagram-feed-mobile{
            display: block;
        }
    }
    .instagram-feed,
    .instagram-feed-mobile {
        #sbi_images {
            padding: 0 !important;
            .sbi_item {
                .sbi_photo_wrap {
                    padding: 0 2.5px;
                }
                &:first-of-type {
                    .sbi_photo_wrap {
                        padding-left: 0;
                    }
                }
                &:last-of-type {
                    .sbi_photo_wrap {
                        padding-right: 0;
                    }
                }
            }
        }
        text-align: center;
        p{
            padding-top: 0.75em;
            font-size: 15px;
            font-weight: 600;
            color: #000;
            a{
                color: #000;
                text-decoration: underline;
                transition: all .3s ease;
                &:hover{
                    color: $primary-color;
                } 
            }
        }
    }
}

footer {
    min-height: 320px;
    background: #A8B6AE;
    width: 100%;
    display: grid;
    grid-template-areas: 'upper-footer' 'lower-footer';
    .upper-footer {
        min-height: 180px;
        grid-area: upper-footer;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'logo subscribe menu';
        .footer-logo {
            grid-area: logo;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            margin: 1em 0;
            img {
                width: 50%;
            }
            @media screen and (max-width: 992px) {
                margin: 3em 0 2em;
            }
        }
        .footer-menu {
            grid-area: menu;
            ul {
                list-style: none;
                text-align: center;
                margin: 0;
                padding: 1.5em 0;
                li {
                    text-transform: uppercase;
                    padding: .25em 0;
                    a {
                        font-weight: 400;
                        color: #fff;
                    }
                }
            }
        }
        .subscribe-social {
            grid-area: subscribe;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .subscribe {
                .h4 {
                    font-transform: uppercase;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    label {
                        margin: 0;
                    }
                    p {
                        width: 75%;
                        margin: 0.1em auto;
                        text-align: center;
                        .ajax-loader {
                            display: none;
                        }
                    }
                    input {
                        background: transparent;
                        width: 250px;
                        color: #fff;
                        font-size: 16px;
                        border: 1.5px solid #fff;
                        padding: .5em;
                        border-radius: 0;
                        height: 45px;
                        @include placeholder {
                            color: #fff !important;
                            text-align: center;
                        }
                        &:hover {
                            outline: none;
                        }
                        &[type="submit"] {
                            cursor: pointer;
                            transition: all .3s ease;
                            &:hover {
                                background: #fff;
                                color: #A8B6AE;
                            }
                        }
                    }
                }
            }
            .social {
                text-align: center;
                color: #fff;
                margin: 1em 0;
                a {
                    color: #fff;
                    margin: 0 .25em;
                    i {
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .lower-footer {
        grid-area: lower-footer;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 100%;
        text-align: center;
        margin: .5em 0;
        .rights {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;

            p {
                margin: 0;
                font-size: 14px;
                font-weight: 400;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    footer {
        min-height: 450px;
        background: #A8B6AE;
        .upper-footer {
            display: grid;
            grid-template-areas: 'logo' 'menu' 'subscribe';
            grid-template-columns: 1fr;
            .footer-logo {
                width: 100%;
            }
            .footer-menu {
                display: block;
                width: 100%;
            }
            .subscribe-social {
                display: block;
                width: 100%;
            }
        }
        .lower-footer {
            padding: 0 1em 1em;
            .rights {
                p {
                    font-size: 12px;
                }
            }
        }
    }
}