                header {
                    display: flex;
                    align-items: center;
                    height: 200px;
                    width: 100%;
                    margin: 0 auto;
                    overflow: visible;
                    max-width: 1850px;
                    flex-direction: column;
                    #site-navigation {
                        width: 100%;
                        position: relative;
                        .menu-primary-menu-container,
                        .menu-primary-menu-en-container {
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            align-content: center;
                            margin: 0 .5em;
                            height: 100%;
                            ul {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                max-width: 1850px;
                                @media screen and (max-width: 991px) {
                                    display: none;
                                }
                                li {
                                    font-size: 18px;
                                    width: 14%;
                                    text-align: center;
                                    a {
                                        text-transform: uppercase;
                                        color: #000;
                                        font-weight: 600;
                                        text-decoration: none;
                                        transition: all .3s ease;
                                        img {
                                            width: 100%;
                                            @-moz-document url-prefix() {
                                                width: 160px;
                                            }
                                            transform: scale(1.1);
                                        }
                                        &:hover {
                                            color: $primary-color;
                                        }
                                    }
                                    &.menu-logo {
                                        span {
                                            display: none;
                                        }
                                        img {
                                            padding: 0;
                                            position: relative;
                                            bottom: .5em;
                                        }
                                        transition: all .3s ease;
                                        &:hover {
                                            transform: scale(1.15);
                                        }
                                    }
                                    &.menu-item-has-children {
                                        &:after {
                                            display: block;
                                            font-family: 'FontAwesome';
                                            content: '\f107';
                                            font-weight: 600;
                                            font-size: 1rem;
                                            margin-left: 5px;
                                        }
                                    }
                                    @media screen and (max-width: 1400px) {
                                        font-size: 14px;
                                        width: 14%; ;
                                    }
                                    &:last-child {
                                        justify-content: flex-end;
                                    }
                                    &:first-child {
                                        display: flex;
                                        justify-content: center;
                                    }
                                }
                            }
                            .sub-menu {
                                display: flex;
                                flex-direction: column;
                                width: 220px;
                                padding: 1em;
                                box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
                                background: #fff;
                                li {
                                    display: block;
                                    width: 100%;
                                    font-size: 16px;
                                    margin: .5em 0;
                                    a {
                                        text-transform: capitalize;
                                        font-weight: 400;
                                    }
                                }
                                &.show-sub-menu{
                                    display: block;
                                    box-shadow: none;
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                    .top-header {
                        position: relative;
                        width: 100%;
                        max-width: 1850px;
                        overflow: hidden;
                        height: 65px;
                        margin: 0 2em;
                        margin-bottom: 1em;
                        display: flex;
                        flex-direction: row;
                        div.search-form {
                            position: relative;
                            top: 1em;
                            left: 4.5%;
                            .search-submit {
                                background: url('../images/search-icon.svg');
                                background-repeat: no-repeat;
                                border: 0;
                                color: transparent;
                                cursor: pointer;
                                position: absolute;
                                top: 3.5px;
                                left: 1em;
                                transition: all .9s ease;
                            }
                            label {
                                opacity: 0;
                                transition: all .9s ease;
                            }
                            &:hover {
                                label {
                                    opacity: 1;
                                }
                                .search-submit {
                                    left: 82.5%;
                                }
                            }
                        }
                        .languages {
                            width: 65px;
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            z-index: 2;
                            top: -8px;
                            position: absolute;
                            right: 0;
                            margin-right: 3.5%;
                            @media screen and (max-width: 1400px) {
                                // right: -4%;
                            }
                            @media screen and (max-width: 991px) {
                                right: 0;
                            }
                            .en {
                                background-image: url('../images/en-stroke.svg');
                                background-repeat: no-repeat;
                                height: 47px;
                                width: 100%;
                                background-position-x: 20px;
                                &.active {
                                    background-image: url('../images/en-fill.svg');
                                }
                            }
                            .sq {
                                background-image: url('../images/al-stroke.svg');
                                background-repeat: no-repeat;
                                height: 39px;
                                top: -20px;
                                position: relative;
                                left: -2px;
                                background-position-x: 20px;
                                &.active {
                                    background-image: url('../images/al-fill.svg');
                                }
                            }
                        }
                        .mobile-logo {
                            @media screen and (min-width: 991px) {
                                display: none;
                            }
                            position: absolute;
                            width: 100%;
                            top: 1em;
                            a {
                                width: 100%;
                                text-align: center;
                                position: relative;
                                top: 1.2em;
                                img {
                                    width: 50%;
                                }
                            }
                        }
                        @media screen and (max-width: 991px) {
                            overflow: visible;
                        }
                    }
                }

                @media screen and (max-width: 991px) {
                    header {
                        display: flex;
                        align-items: center;
                        height: 95px;
                        width: 100%;
                        div.search-form {
                            display: none;
                        }
                        #site-navigation {
                            width: 20%;
                            position: absolute;
                            left: 4%;
                            top: -2px;
                            transition: all .3s ease;
                            background: none;
                            .menu-toggle {
                                border: none;
                                background: none;
                                height: 100px;
                                position: absolute;
                                left: 3%;
                                background-repeat: no-repeat;
                                background-image: url('../images/menu.svg');
                                outline: none;
                            }
                            &.toggled {
                                width: 100%;
                                height: 100vh;
                                background: white;
                                z-index: 1;
                                position: absolute;
                                left: 0;
                                .menu-primary-menu-container{
                                    height: 100%;
                                }
                                #primary-menu {
                                    width: 100%;
                                    text-align: center;
                                    display: block;
                                    li {
                                        width: 100%;
                                        display: flex;
                                        text-align: center;
                                        align-items: center;
                                        justify-content: center;
                                        a {
                                            color: $black-color;
                                            font-size: 17px;
                                            text-transform: uppercase;
                                            font-weight: 600;
                                            margin: .5em 0;
                                            transition: all .5s ease;
                                            &:hover,
                                            &:focus{
                                                color: $primary-color;
                                            }
                                        }
                                        &.menu-logo {
                                            span {
                                                display: block;
                                            }
                                            img {
                                                display: none;
                                            }
                                        }
                                        &.menu-item-has-children {
                                            &:focus {
                                                .sub-menu {
                                                    display: block;
                                                }
                                            }
                                            &.show-menu{
                                                flex-direction: column;
                                            }
                                        }
                                    }
                                }
                                .sub-menu {
                                    background: transparent;
                                    position: relative;
                                    display: none;
                                    li {
                                        text-align: center;
                                        margin: 0;
                                        a {
                                            margin: .125em 0 !important;
                                            width: 100%;
                                            font-size: 14px;
                                            span {
                                                text-transform: capitalize;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .top-header {
                            .languages {
                                width: 20%;
                                .en {
                                    background-image: url('../images/en-stroke.svg');
                                    background-repeat: no-repeat;
                                    height: 47px;
                                    width: 100%;
                                    background-position-x: 87.5%;
                                    &.active {
                                        background-image: url('../images/en-fill.svg');
                                    }
                                }
                                .sq {
                                    background-image: url('../images/al-stroke.svg');
                                    background-repeat: no-repeat;
                                    height: 39px;
                                    top: -20px;
                                    position: relative;
                                    left: 0px;
                                    background-position-x: 98%;
                                    &.active {
                                        background-image: url('../images/al-fill.svg');
                                    }
                                }
                            }
                        }
                    }
                }