aside {
    section {
        min-height: auto;
        max-height: auto;

        input {
            max-width: 250px;
            width: 100%;
            height: 35px;
            border-radius: 0;
            outline: none;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            font-size: 14px;
            margin: 0 2.5px;
            background: transparent;
            border-radius: 0 !important;

            &:focus,
            &:hover {
                box-shadow: 0 0 5px rgba($primary-color, 1);
            }
            @media screen and (max-width: 576px) {
                max-width: 95%;
            }
        }

        label {
            width: 100%;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                a {
                    color: $black-color;
                    font-weight: 500;

                    &:visited {
                        color: $black-color;
                    }
                }
            }
        }

        h2 {
            font-size: 1.7rem;
            font-weight: 600;
        }
    }
}

    .ads-image {
        height: 100%;
        position: relative;
        a{
        	height: 100%;
        	width: 100%;
        	.ad-custom-desktop{
        		@media screen and (min-width: 992px) {
        		        		display: block;	
        		}
        		display: none;
        	}
        	.ad-custom-mobile{
        		@media screen and (max-width: 991px) {
        			display: block;
        			width: 100%;
        		}
        		display: none;
        	}
        }
    }

.sidebar-area{
    @media screen and (min-width: 992px) {
        margin-top: 8.5em;
    }
}