$primary-color: #A8B6AE;
$black-color: #0C0C0C;

a {
    color: $black-color;
}

.custom-search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0em auto 2em;
    .search-form {
    	display: flex;
        input,
        select {
            max-width: 180px;
            width: 100%;
            height: 35px;
            border-radius: 0;
            outline: none;
            transition: all .3s ease;
            font-size: 14px;
            margin: 0 2.5px;
            background: transparent;
            &.search-submit {
                width: 35px;
                color: transparent;
                background-color: transparent;
                background-image: url(../images/search-icon-white.svg);
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
                &:hover {
                background-image: url(../images/search-icon-cat.svg);
            }
            }
            &:focus,
            &:hover {
                box-shadow: 0 0 5px rgba($primary-color, 1);
            }
        }
    }
    @media screen and (max-width: 991px){
    	margin-top: 2.5em;
    }
}

.posts-navigation {
    width: 100%;
}
.margin-l-r{
    @media screen and (min-width: 992px) {
         margin: 0 2em;   
    }
    margin: 0 .1em;
}

#content{
    max-width: 1850px;
    margin: 0 auto;
    overflow: visible !important;
}