.error404 {
    .col-lg-12 {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin: 15px 0;

        @media screen and (max-width: 991px) {
                background-position: 80% 0%;
        }

        .logo {
            text-align: center;
            position: relative;
            top: 3.5em;

            img {
                max-width: 250px;

                @media screen and (max-width: 991px) {
                    max-width: 120px;
                }
            }
        }
    }

    section {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @media screen and (max-width: 991px) {
            justify-content: flex-end;
        }

        .data {
            h1 {
                color: #000;
                font-size: 80px;
                font-weight: 700;
            }

            a {
                text-decoration: none;
                color: #000;
                font-weight: 700;
            }

            @media screen and (max-width: 991px) {
            	position: relative;
            	bottom: 5em;
            	p{
            		font-size: 12px;
            	}
            }
        }
    }

    header,
    footer,
    .before-footer {
        display: none;
    }

    .row {
        margin: 0 !important;
    }
}