.center {
        margin: 0 auto;
        text-align: center;
        padding: 0 0 2em;
        p {
            line-height: 32px;
        }
    }
.post-url {
	text-decoration: none;
	color: #000;
	&:hover{
		text-decoration: none;
		color: #000;
	}
    .post {
        border: 1px solid #eee;
        margin: 1em auto;
        box-shadow: 0px 0 10px 0px rgba(159, 143, 143, 0.5);
        transition: all .3s ease;
        &:hover {
            box-shadow: 0px 0 20px 0px rgba(0, 0, 0, 0.5);
        }
        @media screen and (max-width: 568px) {
        		margin: 1em -10px;
        	}

        .post-image {
                    max-height: 655px;
                    height: 655px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    @media screen and (max-width: 1650px) {
                        max-height: 450px;
                    }
                    @media screen and (max-width: 1400px) {
                        max-height: 400px;
                    }
                    @media screen and (max-width: 1200px) {
                        max-height: 300px;
                    }
                    @media screen and (max-width: 991px) {
                        max-height: 450px;
                    }

                    @media screen and (max-width: 768px) {
                        max-height: 300px;
                    }
                    @media screen and (max-width: 568px) {
                        max-height: 225px;
                    }
                }
        .post-data {
            text-align: center;
            display: flex;
            align-items:center;
            justify-content: center;
            align-content: center;
            height: 75px;
            max-height: 75px;
			@media screen and (max-width: 991px) {
        		max-height: 60px;
        	}
            .title {
            	padding: 0 1em;
                font-weight: 600;
                font-size: 14px;
                @media screen and (max-width: 568px) {
        			padding: 0 .5em;
        			font-size: 12px;
        		}
            }
        }
    }
}
.navigation{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3em 0;
	a{
		margin: 0 .25em;
		color: #000;
		font-weight: 600;
	}
	.current{
		font-weight: 600;
		background: #000;
		color: #fff;
		padding: 0 .25em;	
	}
}