.page-template-contact-us {

    section.contact-us {
        padding: 0 2em;

        @media screen and (max-width: 991px) {
            min-height: 100%;
            padding: 0;
            max-height: 100%;
        }

        .information {
            @media screen and (min-width: 992px) {
                         padding: 0 5em 2.85em;   
            }
            .page-description {
                @media screen and (max-width: 991px) {
                    padding: 0 2.5em;
                }
            }

            @media screen and (max-width: 991px) {
                margin-top: 3em;
                min-height: 100%;
                max-height: 100%;
            }
        }

        .contact-form {
            form {
                @media screen and (max-width: 991px) {
                    padding: 0 1em;
                }
            }

            .form-wrapper {
                background: #eceef1;
                padding: 5em 0;

                .form-information {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    max-width: 1110px;
                    margin: 0 auto;

                    @media screen and (max-width: 991px) {
                        flex-direction: column;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    span {
                        margin: 0 .5em;

                        input {
                            padding: .25em;
                            margin: 0;
                            height: 30px;
                            border-radius: 0;
                            outline: none;
                            transition: all .3s ease;
                            max-width: 360px;
                            width: 100%;
                            background: #fafbfb;
                            color: #000;
                            font-weight: 800;

                            &:focus {
                                box-shadow: 0 0 5px rgba($primary-color, 1);
                            }
                        }
                    }
                    br{
                        display: none;
                    }
                }

                .form-message {
                    label {
                        margin-top: 1em;
                        width: 100%;
                        max-width: 1110px;
                        padding: 0 0 0 0.5em;

                        @media screen and (max-width: 991px) {
                            max-width: 375px;
                        }

                        br {
                            display: none;
                        }

                        span {
                            textarea {
                                padding: .25em .7em;
                                margin: 0;
                                border-radius: 0;
                                resize: none;
                                outline: none;
                                transition: all .3s ease;
                                width: 100%;
                                background: #fafbfb;

                                &:focus {
                                    box-shadow: 0 0 5px rgba($primary-color, 1);
                                }

                                @media screen and (max-width: 991px) {
                                    padding: .25em .8em;
                                }
                            }
                        }
                    }

                    input.wpcf7-submit {
                        margin-top: 1em;
                        background: $primary-color;
                        width: 150px;
                        color: #fff;
                        font-size: 16px;
                        text-transform: uppercase;
                        border: none;
                        padding: .5em;
                        border-radius: 0;
                        height: 45px;
                        cursor: pointer;
                        transition: all .3s linear;

                        &:hover {
                            background: white;
                            color: $primary-color;
                            border: 1.5px solid $primary-color;
                        }
                    }
                }
            }

        }

    }
}