section {
    min-height: 750px;
    max-height: 750px;
    height: auto;
    width: 100%;

    @media screen and (max-width: 991px) {
        min-height: 550px;
        max-height: 550px;
    }
}

.row {
    @media screen and (min-width: 992px) {
        margin-bottom: 100px;
    }

    @media screen and (max-width: 991px) {
        margin-bottom: 35px;
    }

}



.main-banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 992px) {
        margin-top: 50px;
    }

    .main-banner-data {
        padding: 0em 1.5em;
        position: relative;
        max-width: 410px;
        top: -1.35em;

        .title {
            width: 100%;

            h2 {
                color: #000;
                font-weight: 600;
                font-size: 1.7rem;
                position: relative;
            }
        }

        p {
            padding: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5em;
        }

        @media screen and (min-width: 992px) {
            max-width: 410px;
            margin-left: 1.75%;
        }
    }

    .arrow-right {
        display: block;
        height: 20px;
        width: 3%;
        background: url(../images/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 0;
        top: -.5em;
        margin-right: 3.75%;

        @media screen and (max-width: 991px) {
            width: 8%;
            margin-right: 0;
            top: -.25em;
        }
    }
}

.recent-posts {
    position: relative;

    @media screen and (min-width: 992px) {
        padding: 0 2em;
    }

    margin: 0 auto 100px;

    @media screen and (max-width: 991px) {
        margin: 0 auto 50px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-weight: 600;
        font-style: 2rem;
    }

    .posts {
        .post-url {
            text-decoration: none;
            color: #000;

            &:hover {
                text-decoration: none;
                color: #000;
            }

            .post {
                border: 1px solid #eee;
                margin: 1em auto;
                box-shadow: 0px 0 10px 0px rgba(159, 143, 143, 0.5);
                transition: all .3s ease;

                &:hover {
                    box-shadow: 0px 0 20px 0px rgba(0, 0, 0, 0.5);
                }

                @media screen and (max-width: 568px) {
                    margin: 1em -10px;
                }

                .post-image {
                    max-height: 655px;
                    height: 655px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;

                    @media screen and (max-width: 1650px) {
                        max-height: 450px;
                    }

                    @media screen and (max-width: 1400px) {
                        max-height: 400px;
                    }

                    @media screen and (max-width: 1200px) {
                        max-height: 300px;
                    }

                    @media screen and (max-width: 991px) {
                        max-height: 450px;
                    }

                    @media screen and (max-width: 768px) {
                        max-height: 300px;
                    }

                    @media screen and (max-width: 568px) {
                        max-height: 225px;
                    }
                }

                .post-data {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
                    height: 75px;
                    max-height: 75px;

                    @media screen and (max-width: 991px) {
                        max-height: 60px;
                    }

                    .title {
                        padding: 0 1em;
                        font-weight: 600;
                        font-size: 14px;
                        margin: 0;

                        @media screen and (max-width: 568px) {
                            padding: 0 .5em;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.services-row {
    margin-top: 10em;

    @media screen and (max-width: 991px) {
        margin-bottom: 5em;
        margin-top: 7em;
    }

    section.services {
        padding: 2em 15px;
        background: linear-gradient(17deg, $primary-color 56%, rgba(125, 185, 232, 0) 50%);
        min-height: 100%;
        max-height: 100%;

        .image {
            background-repeat: no-repeat;
            background-size: cover;
            height: 700px;
            top: -6em;
            position: relative;

            @media screen and (min-width: 992px) {
                margin: 0 2em;
            }

            @media screen and (max-width: 991px) {
                height: 750px;
                top: -5em;
            }

            @media screen and (max-width: 768px) {
                height: 650px;
            }

            @media screen and (max-width: 568px) {
                height: 520px;
            }

            img {
                width: 100%;
            }
        }

        .image-service {
            background-position: center;
        }

        .data {
            padding: 0 2em;
            color: #fff;
            position: absolute;
            bottom: 0;

            @media screen and (max-width: 991px) {
                p.content-paragraph {
                    font-size: 14px;
                }

                padding: 0;
                padding-right: 5.5em;
                position: relative;
                margin-top: -4em;
            }
            h2{
                font-size: 1.7rem;
                font-weight: 600;
            }
        }

        .arrow-right {
            display: block;
            height: 20px;
            width: 100%;
            background: url(../images/arrow-white.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 4em;
            background-position-x: right;
            bottom: 2em;

            @media screen and (max-width: 576px) {
                right: 2em;
            }
        }
    }
}

.who-we-are {
    @media screen and (min-width: 992px) {
        padding: 0 2em;
    }

    section {
        min-height: 750px;
        max-height: 100%;

        @media screen and (max-width: 991px) {
            min-height: 450px;
        }
    }

    a {
        transition: all .3s ease;

        &:hover {
            text-decoration: none; // color: $primary-color;
            color: #000;
        }

        .column-who-we-are {
            height: 750px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .3s ease;

            @media screen and (max-width: 991px) {
                height: 750px;
                margin-bottom: 85px;
                background-position: top;
            }

            @media screen and (max-width: 768px) {
                height: 550px;
                margin-bottom: 85px;
            }

            .title {
                position: relative;
                top: -1em;

                .title-h2 {
                    font-weight: 600;
                    font-size: 1.7rem;
                }

                z-index: 1;
            }

            .image-banner {
                position: relative;
                z-index: 0;
                img {
                    visibility: hidden;
                    opacity: 0;
                }
            }

            &:hover {
                box-shadow: 0px 0 20px 0px rgba(0, 0, 0, 0.5);
            }

            &.video {
                .image-banner {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 750px;
                    position: relative;
                    top: -2.5em;
                    @media screen and (max-width: 991px) {
                        height: 450px;
                    }
                }
                @media screen and (max-width: 991px) {
                        margin-bottom: -5em;
                    }

                .title {
                    position: relative;
                    top: -1em;

                    .title-h2 {
                        font-weight: 600;
                        font-size: 1.7rem;
                    }

                    z-index: 1;
                }

            }
        }
    }

    @media screen and (max-width: 992px) {
        section {
            // margin-bottom: -2em;
        }
    }
}