.page-header {
    padding: 0 15px;
    h1 {
        font-size: 1.75rem;
        font-weight: 600;
        color: $black-color;
    }
}

.search-data {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    .search-image {
        padding: 1em;
        img {
            transition: all .3s ease;
            @media screen and (max-width: 991px) {
                max-width: 220px;
            }
            @media screen and (max-width: 568px) {
                max-width: 130px;
            }
        }
        &:hover {
            img {
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
                transform: scale(0.98);
            }
        }
    }
    .search-result-info {
        position: relative;
        padding: 1.5em 0;
        display: flex;
        flex-direction: column;
        a {
            transition: all .3s linear;
            text-decoration: none;
            &:hover {
                color: $primary-color;
            }
        }
        .search-header-title {
            h2 {
                font-weight: 600;
                padding-bottom: 1em;

                @media screen and (max-width: 568px) {
                    font-size: 1.75arem;
                }
            }
        }
        .search-description {
            position: relative;
            height: 100%;
            .post-content {
                line-height: 28px;
                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
            .more-info {
                position: absolute;
                bottom: -1em;
                h4 {
                    font-weight: 300;
                    font-size: 1.25rem;
                }
            }
        }
    }
}