#content {
    overflow: hidden;
}

.page-template-services {
    .center {
        margin: 0 auto;
        text-align: center;
        padding: 0 0 2em;
        p {
            line-height: 32px;
        }
    }
    .service {
        height: 95vh;
        position: relative;
        &.right-image {
            display: flex;
            flex-direction: row-reverse;
            .vertical-center {
                .data {
                    max-width: 450px;
                    position: absolute;
                    right: 3.5em;
                    top: 25%;
                    text-align: right;
                    .title {
                        margin-bottom: 2em;
                        position: relative;
                        left: auto;
                        .title-h2 {
                            font-weight: 600;
                            font-size: 1.75rem;
                        }
                    }
                }
            }
        }
        &.left-image {
            position: relative;
            .image-banner {
                background-position: right;
            }
        }
        .image-banner {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
            position: absolute;
            width: 90%;
            height: 95vh;
        }
        .vertical-center {
            display: flex;
            height: 100%;
            align-items: center;
            .data {
                max-width: 500px;
                .title {
                    margin-bottom: 2em;
                    position: relative;
                    .title-h2 {
                        font-weight: 600;
                        font-size: 1.75rem;
                    }
                }
                .description {
                    line-height: 32px;
                    letter-spacing: .5px;
                }
            }
        }
    }
    .before-footer {
        margin-top: 10em;
    }
    @media screen and (max-width: 991px) {
        .center {
            max-width: 75%;
            margin-top: 5em;
        }
        .service {
            position: relative;
            min-height: 100%;
            height: 100%;
            padding-bottom: 2.5em;
            &.right-image {
                display: flex;
                flex-direction: row;
                .vertical-center {
                    align-items: flex-start;
                    position: relative;
                    bottom: 0;
                    .data {
                        position: relative;
                        bottom: 0;
                        left: 0;
                        right: auto;
                        text-align: left;
                        max-width: 100%;
                        .title{
                            margin-bottom: 1em;
                        }
                    }
                }
            }
            &.left-image {
                .image-banner {
                    background-position: unset;
                }
            }
            .image-banner {
                position: relative;
                min-height: 578px;
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
            }
            .vertical-center {
                z-index: 1;
                position: relative;
                display: block;
                height: 100%;
                margin-top: 1em;
                .data {
                    max-width: 100%;
                    padding: 0 1em;
                    position: relative;
                    bottom: 0;
                    .title {
                        margin-bottom: 1em;
                        position: relative;
                        left: 0 !important;
                        right: 0!important;
                    }
                    .description {
                        line-height: 28px;
                    }
                }
            }
        }
    }
    .before-footer {
        margin-top: 2.5em;
    }
    @media screen and (max-width: 568px) {
        .service {
            .image-banner {
                position: relative;
                min-height: 578px;
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
            }
             &.left-image {
                .image-banner {
                    background-position: center;
                }
            }
        }
    }
}