.single-post {
    .col-single {
        @media screen and (max-width: 991px) {
            padding: 0;
            overflow: hidden;
        }
    }

    .header {
        background: transparent;

        @media screen and (max-width: 991px) {
            padding: 0 15px;
        }

        .header-title {
            text-transform: capitalize;

            .title {
                font-size: 2rem;
                font-weight: 600;
            }
        }

        .header-data {
            margin: 1em 0;

            .date h4 {
                font-size: 1rem;
                font-weight: 600;
            }
        }

        .featured-image {
            margin: 0 auto;
            padding: 4em;
            background-image: url(../images/trapez.svg);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: bottom;
            text-align: center;
            @media screen and (max-width: 991px) {
                padding: 1em .5em 2em;
            }

            .single-header-image {
                box-shadow: 0px 0 10px 1px rgba(0, 0, 0, 0.1);
                width: 100%;
            }
        }
    }

    .content {
        padding: 2em 15px;
        // background-image: url(../images/trapez.svg);
        // background-repeat: no-repeat;
        // background-position: bottom;
        background: linear-gradient(30deg, #A8B6AE 30%, rgba(125, 185, 232, 0) 30%);
        background-position: bottom;
        background-size: 100% 23%;
        background-repeat: no-repeat;
        @media screen and (max-width: 991px){
            background-size: 95% 23%;
        }
        p {
            font-size: 14px;
            line-height: 22px;
        }

        ul,
        ol {
            padding: 0;
            margin-bottom: 1em;
            margin-left: 2em;

            li {
                font-size: 14px;
                font-weight: 400;
            }
        }

        ol {
            li {
            	display: flex;
            	align-items: center;
                list-style: none;
                counter-increment: my-awesome-counter;
                padding: .25em;
                &:before {
                    content: counter(my-awesome-counter);
					margin-right: .25em;
                    color: $black-color;
                    position: relative;
                    top: -.35em;
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

        }

        .white-text {
            color: #fff;
        }

        .tags {
            color: #fff;
            font-weight: 600;

            a {
                color: #fff;
                font-weight: 600;
            }
        }

        img {
            padding: .5em;
            width: 100%;
        }
    }
    .related-articles{
        @media screen and (max-width: 568px) {
            padding: 0 2em;            
        }

        .related-col{
            .post-url .post .post-image{
                max-height: 350px;
                @media screen and (max-width: 568px) {
                    max-height: 200px;
                }
            }
        }
    }
    .row{
        margin-top: 2em;
        margin-bottom: 25px;
    }
    @media screen and (min-width: 992px) {
    #content{
        padding: 0 2%;
    }   
    }
}