.page-template-withkristihands-page {
    .center {
        margin: 0 auto;
        text-align: center;
        padding: 0 0 4em;
        p {
            line-height: 32px;
        }
        img {
            width: 85%;
        }
        @media screen and (max-width: 991px) {
            padding: 2em;
        }
    }
    .section-cinema {
        padding-bottom: 5em;
        .cinema-ratio {
            padding: 2em 0;
            iframe {
                width: 100%;
                max-width: 100%;
                min-height: 360px;
            }
        }
    }
}